In [4]:
import os
import pandas as pd
import xarray as xr
import glob
%matplotlib widget
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [7]:
# Read metadata to filter what we want
meta = pd.read_csv("/kfs2/projects/sfcwinds/observations/metadata_CONUS.csv")

In [33]:
meta

,station_id,station_name,lat,lon,height,elev,begints,endts,source_network,state
0,HOT01,NaN,38.7917,-107.7920,2.00,1690.7256,NaN,2019-09-25 00:00:00,CoAgMet,CO
1,LAR01,NaN,40.6126,-106.2997,2.00,2515.2096,NaN,2025-03-24 00:00:00,CoAgMet,CO
2,SLT01,NaN,39.5667,-107.6934,2.00,1712.9760,NaN,2025-03-24 00:00:00,CoAgMet,CO
3,LJR01,NaN,37.2443,-105.9722,2.00,2314.9560,NaN,2025-03-24 00:00:00,CoAgMet,CO
4,KRK01,NaN,39.6554,-102.6210,2.00,1284.1224,NaN,2025-03-24 00:00:00,CoAgMet,CO
...,...,...,...,...,...,...,...,...,...,...
3002,US-NR3,Niwot Ridge Alpine (T-Van West),40.0520,-105.5864,3.00,3504.0000,2020-07-05 00:00:00,NaN,AmeriFlux,CO
3003,US-ASH,USSL San Joaquin Valley Almond High Salinity,36.1697,-120.2010,8.01,147.0000,NaN,NaN,AmeriFlux,CA
3004,US-RO5,Rosemount I18_South,44.6910,-93.0576,3.25,283.0000,2018-07-09 00:00:00,NaN,AmeriFlux,MN
3005,US-MN3,"Morris: Corn-Soybean, Conventional Tillage",45.6091,-96.1265,4.57,339.0000,2020-06-29 00:00:00,NaN,AmeriFlux,MN
3006,US-CF3,CAF-LTAR Boyd North,46.7551,-117.1261,2.10,795.0000,NaN,NaN,AmeriFlux,WA

In [16]:
# filter which data to read
base_dir = "/kfs2/projects/sfcwinds/observations/"
stations = meta[meta.state == "NM"].station_id.values
networks = ["*"]
years    = [2024]

In [11]:
stations

array(['NM_SOCORRO_20_N', 'NM_LOS_ALAMOS_13_W', 'NM_LAS_CRUCES_20_N',
       'CWRN5', 'BATN5', 'MGNN5', 'BDAN5', 'ACON5', 'CPPN5', 'BCHN5',
       'COYN5', 'CBBN5', 'LOMN5', 'DUNN5', 'REMN5', 'GNMN5', 'HHRN5',
       'GMLN5', 'MPAN5', 'LVPN5', 'DPRN5', 'SNDN5', 'MCRN5', 'SLMN5',
       'COPN5', 'DPKN5', 'TJRN5', 'SFWN5', 'BVRN5', 'CSMN5', 'MGLN5',
       'MSCN5', 'TWRN5', 'GRSN5', 'JESN5', 'MAYN5', 'MTNN5', 'TRUN5',
       'JARN5', 'TR724', 'ADRN5', 'TR931', 'BLWN5', 'CIMN5', 'DTLN5',
       'ZNRN5', 'WPSN5', 'SNLN5', 'GSCN5', 'TS286', 'STLN5', 'LRAN5',
       'RMAN5', 'QENN5', 'BMRN5', 'MLCN5', 'DLCN5', 'BMTN5', 'SEVN5',
       'MRRN5', 'WDRN5', 'LUAN5', 'RESN5', 'CZZN5', 'TT106', 'NMC01',
       'NMC02', 'FASN5', 'NMC04', 'LSLN5', 'MRMN5', 'NMC07', 'TSCN5',
       'CASN5', 'UCC36', 'CRMN5', 'NMC21', 'ASCN5', 'CLRN5', 'NMC24',
       'DEXN5', 'STVN5', 'NMC28', 'VLSN5', 'FTSN5', 'SFTN5', 'NMC34',
       'NMC35', 'NMC36', 'NMC37', 'CELN5', 'NEWN5', 'SVAN5', 'TCCN5',
       'NMC42', 'ETUN5', 'LGAN5', 'ERAN5', 'NMC46', 'TSWN5', 'AMSN5',
       'SEDN5', 'SWCN5', 'PRTN5', 'AECN5', 'CLEN5', 'NMC57', 'NMC58',
       'NMC59', 'NMC60', 'NMC61', 'NMC62', 'NMC63', 'NMC64', 'NMC65',
       'NMC66', 'NMC67', 'NMC68', 'NMC69', 'NMC70', 'NMC72', 'NMC73',
       'NMC74', 'NMC75', 'NMC76', 'NMC77', 'NMC78', 'NMC79', 'NMC80',
       'NMC81', 'NMC82', 'NMC83', 'NMC84', 'NMC85', 'NMC86', 'NMC87',
       'NMC88', 'NMC89', 'NMC90', 'NMC91', 'NMC92', 'NMC93', 'NMC94',
       'NMC95', 'NMC96', 'NMC97', 'NMC98', 'US-SES', 'US-JO2', 'US-SEG',
       'US-MPJ', 'US-WJS'], dtype=object)

In [45]:
#Read observations according to filter

years = [str(y) for y in years]

all_dfs = []

for net in networks:
    for station in stations:
        for year in years:
            pattern = os.path.join(base_dir, net, station, f"{year}.parquet")
            found = glob.glob(pattern)

            for f in found:
                try:
                    df = pd.read_parquet(f)
                    # Extract station_id from the path (e.g., .../CoAgMet/HOT01/2023.parquet)
                    station_id = os.path.basename(os.path.dirname(f))  # 'HOT01'
                    df["station_id"] = station_id
                    all_dfs.append(df)
                except Exception as e:
                    print(f"Failed to read {f}: {e}")

if not all_dfs:
    print("No files found.")
else:
    print(f"{len(all_dfs)} files found.")
    obs = pd.concat(all_dfs, ignore_index=True)

# Merge with metadata
obs = obs.merge(meta[["station_id", "lat", "lon", "height", "elev", "source_network", "state"]], on="station_id", how="left")

43 files found.

In [46]:
obs

,timestamp,windspeed,winddirection,gust,temperature,station_id,lat,lon,height,elev,source_network,state
0,2024-01-01 00:26:00+00:00,3.128,257.0,5.813,1.667,CWRN5,36.97661,-107.62892,6.1,2186.3304,RAWS,NM
1,2024-01-01 01:26:00+00:00,3.128,264.0,6.261,0.000,CWRN5,36.97661,-107.62892,6.1,2186.3304,RAWS,NM
2,2024-01-01 02:26:00+00:00,0.448,3.0,5.366,-0.556,CWRN5,36.97661,-107.62892,6.1,2186.3304,RAWS,NM
3,2024-01-01 03:26:00+00:00,0.895,144.0,1.790,-1.111,CWRN5,36.97661,-107.62892,6.1,2186.3304,RAWS,NM
4,2024-01-01 04:26:00+00:00,2.680,225.0,4.023,-1.667,CWRN5,36.97661,-107.62892,6.1,2186.3304,RAWS,NM
...,...,...,...,...,...,...,...,...,...,...,...,...
1767027,2024-12-31 23:35:00+00:00,0.329,203.0,0.458,13.039,CLEN5,35.22942,-106.60324,3.0,1527.0480,NMCC,NM
1767028,2024-12-31 23:40:00+00:00,0.231,201.0,0.391,12.822,CLEN5,35.22942,-106.60324,3.0,1527.0480,NMCC,NM
1767029,2024-12-31 23:45:00+00:00,0.381,135.0,0.509,11.822,CLEN5,35.22942,-106.60324,3.0,1527.0480,NMCC,NM
1767030,2024-12-31 23:50:00+00:00,0.489,114.0,0.972,11.061,CLEN5,35.22942,-106.60324,3.0,1527.0480,NMCC,NM
1767031,2024-12-31 23:55:00+00:00,0.700,78.0,1.029,9.922,CLEN5,35.22942,-106.60324,3.0,1527.0480,NMCC,NM

In [10]:
state = "NM"
# obs[obs.state == state].to_pickle(f"/kfs2/projects/sfcwinds/obs_{state}_{date_string}.pkl")